.design-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.shirt-preview {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: 0 auto;
}

.shirt-image {
    width: 100%;
    display: block;
}

.text-overlay, .uploaded-image {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: move; /* Ensure the cursor changes when hovering over the image or text */
}

.uploaded-image {
    max-width: 80%; /* Adjust as needed */
    max-height: 80%; /* Adjust as needed */
}

.design-options {
    width: 45%;
}

    .design-options h4 {
        margin-top: 20px;
    }

.color-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
}
